html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    backdrop-filter: blur(2px) brightness(0.4);
}

.slideshow-div {
    text-align: center;
}

.slideshow-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#slideshow-image {
    width: 600px;
    margin: 0 20px 0 20px;
}

.indicator-box {
    
}

#indicators-div {
    margin-bottom: 10px;
    height: 30px;
}

.slideshow-indicator {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display:inline-flex;
    cursor: pointer;
}

.slideshow-indicator:hover {
    opacity: 0.1;
}

#toggle-button {
    width: 150px;
    font-size: 18px;
}